.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  width: 100%;
}

.label {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
}

.input {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid #E6E6E6;
  background: #FFF;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.04);
  font-size: 1rem;
  line-height: 1.5rem;
}

.input:focus-visible {
  outline: 3px solid rgba(180, 87, 253, 0.30);
}

.input:active {
  outline: 3px solid rgba(180, 87, 253, 0.30);
}

.input:-webkit-autofill,
.input:autofill,
.input:-webkit-autofill:hover, 
.input:-webkit-autofill:focus {
  background-color: #FFF !important;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}