.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  width: 100%;
}

.label {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
}

.input {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 24px;
  border: 1px solid #EAEAEA;
  background: #FFF;
  /* box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.04); */
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  line-height: 1.5rem;
}

.input:focus-visible {
  outline: 3px solid #B4E2D6;
}

.input:active {
  outline: 3px solid #B4E2D6;
}

.input:-webkit-autofill,
.input:autofill,
.input:-webkit-autofill:hover, 
.input:-webkit-autofill:focus {
  background-color: #FFF !important;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}