
.content, .contentReverse {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.image {
  position: relative;
  height: 320px;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  background: url(/assets/map.png) no-repeat;
  background-size: cover;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .content, .contentReverse {
    flex-direction: row;
    gap: 96px;
  }

  .contentReverse {
    flex-direction: row-reverse;
  }
}