.checkbox {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;

  .input {
    border-radius: 4px;
  }
  .input:focus-visible {
    outline: 3px solid #B4E2D6;;
  }
}