.nav {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 16px 16px;
  justify-content: space-between;
  transition: background-color 0.15s ease-in-out;
  z-index: 3;
}

.navScrolled {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 16px 16px;
  justify-content: space-between;
  align-content: left;
  background-color: #fff;
}