.card {
  padding: 32px;
  border-radius: 16px;
  width: 100%;
  max-width: 960px;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.img {
  z-index: 0;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 32px;
  width: 100%;
  z-index: 1;
  position: relative;
}

.text {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .card {
    padding: 64px;
  }

  .content {
    align-items: flex-start;
  }

  .title {
    font-size: 3rem;
    line-height: 3.6rem;
  }
}

@media only screen and (min-width: 1024px) {
  .card {
    padding: 96px;
  }
}