@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-geist-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
}

@layer base {
  /* *:focus-visible {
    @apply outline-none;
    @apply ring-1;
    @apply ring-green-400/20;
    @apply ring-offset-1;
    @apply ring-offset-white;
  } */
  a:focus-visible {
    @apply ring-2;
    @apply ring-green-400/20;
    @apply ring-offset-1;
    @apply ring-offset-white;
    @apply outline-none;
  }
  body {
    @apply bg-white;
    @apply text-black;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
    @apply leading-tight;
  }
}
