@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-black: #201d23;

  --color-gray-100: #f4f4f4;
  --color-gray-200: #eaeaea;
  --color-gray-300: #d6d6d6;
  --color-gray-800: #797979;

  --color-white: #ffffff;

  --color-green-300: #2ead8c;
  --color-green-400: #35977d;
  --color-green-500: #347463;

  --color-red-200: #fe9aa4;
  --color-red-300: #ff7e8c;

  --font-sans: var(--font-geist-sans);

  --breakpoint-lg: 1024px;
  --breakpoint-hero: 1440px;

  --shadow-light: 0 2px 4px 0px rgba(0, 0, 0, 0.04);
  --shadow-medium: 0 4px 12px 0px rgba(0, 0, 0, 0.08);
  --shadow-heavy: 0 4px 24px 0px rgba(0, 0, 0, 0.32);
  --shadow-top: 0 -4px 12px 0px rgba(0, 0, 0, 0.08);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  * {
    font-family: var(--font-geist-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-poppins);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
  input:not(:placeholder-shown):not(:focus):invalid {
    @apply border-red-300;
  }
}

@layer base {
  /* *:focus-visible {
    @apply outline-none;
    @apply ring-1;
    @apply ring-green-400/20;
    @apply ring-offset-1;
    @apply ring-offset-white;
  } */
  a:focus-visible {
    @apply ring-2;
    @apply ring-green-400/20;
    @apply ring-offset-1;
    @apply ring-offset-white;
    @apply outline-hidden;
  }
  body {
    @apply bg-white;
    @apply text-black;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
    @apply leading-tight;
  }
}
