.main {
  min-height: 100vh;
  min-height: 100svh;
}

.heroContainer {
  padding: 32px 16px;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 32px;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.24) 0%, rgba(33, 35, 44, 0.70) 100%), url(../assets/mountains.jpg) no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.24);
  align-items: center;
}

.introText {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 16px;
  padding: 8px;
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.5rem;
  max-width: 960px;
}

.title {
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 600;
}

.card {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid #F0F0F0;
  background: #FFF;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.16);
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.cardTitle {
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  width: 100%;
}

.howItWorksSectionContent {
  display: flex;
  flex-direction: column;
  gap: 64px;
  max-width: 960px;
  align-items: center;
}

.howItWorksStep, .howItWorksStepReverse {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.howItWorksImage {
  position: relative;
  height: 320px;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  background: url(/map.png) no-repeat;
  background-size: cover;
}

.howItWorksTitles {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  text-align: center;
}

.howItWorksText {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.signUpCard {
  padding: 32px;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.10) 0%, rgba(33, 35, 44, 0.20) 100%), url(../assets/mountains.jpg), lightgray 50% / cover no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 960px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.signUpCardText {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.signUpCardTitle {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;
}



@media only screen and (min-width: 768px) {
  .heroContainer {
    padding: 120px 32px;
  }

  .introText {
    text-align: center;
  }
  .title {
    font-size: 4rem;
    line-height: 4.8rem;
  }
  .card {
    padding: 24px;
  }

  .cardTitle {
    display: none;
  }

  .form {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: end;
    gap: 16px;
  }

  .inputGroup {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }

  .howItWorksStep, .howItWorksStepReverse {
    flex-direction: row;
    gap: 32px;
  }

  .howItWorksStepReverse {
    flex-direction: row-reverse;
  }
  .signUpCard {
    padding: 64px;
  }
  .signUpCardTitle {
    font-size: 3rem;
    line-height: 3.6rem;
  }
}

@media only screen and (min-width: 1024px) {
  .heroContainer {
    padding: 120px 96px;
  }
  
  .title {
    font-size: 5rem;
    line-height: 6rem;
  }

  .signUpCard {
    padding: 96px;
  }
}
