.main {
  min-height: 100vh;
  min-height: 100svh;
}

.heroContainer {
  padding: 32px 16px;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 32px;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.10) 0%, rgba(33, 35, 44, 0.70) 100%), url(../assets/mountains.jpg) no-repeat;
  background-size: cover;
  background-position-y: bottom;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.24);
  align-items: center;
  max-width: 1440px;
}

.heroText {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 16px;
  padding: 8px;
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.5rem;
  max-width: 960px;
}

.title {
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 600;
}

.card {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid #F0F0F0;
  background: #FFF;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.16);
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.cardTitle {
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  width: 100%;
}

.sectionIntro {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  text-align: center;
}

.sectionSubtitle {
  color: #35977D;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.sectionTitle {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
}

.howItWorksContent {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
}

.tripContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  gap: 48px;
}

@media only screen and (min-width: 768px) {
  .heroContainer {
    padding: 120px 32px;
  }

  .heroText {
    text-align: center;
  }
  .title {
    font-size: 4rem;
    line-height: 4.8rem;
  }
  .card {
    padding: 24px;
  }

  .cardTitle {
    display: none;
  }

  .form {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: end;
    gap: 16px;
  }

  .inputGroup {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }
  .tripContainer {
    grid-template-columns: 1fr 1fr;
  }
  
}

@media only screen and (min-width: 1024px) {
  .heroContainer {
    padding: 120px 96px;
  }
  
  .title {
    font-size: 5rem;
    line-height: 6rem;
  }
}
