.card {
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid #E6E6E6;
  background: #FFF;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.04);
  justify-content: space-between;
}

.testimonial {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.author {
  font-size: 0.875rem;
  line-height: 1.125rem;
}