.container {
  max-height: 100svh;
  background-color: #AFAFAF;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mapContainer {
  position: relative;
  width: 100%;
  height: calc(100svh - 200px);
}

.dayCard {
  padding: 16px;
  border-radius: 16px 16px 0 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex-direction: row;
}

.ratingContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 4px;
}

.rating {
  color: #35977D;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.day {
  color: #5f5f5f;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.05rem;
}

.location {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  width: 100%;
}

.description {
  color: #5f5f5f;
  font-size: 1rem;
  line-height: 1.5rem;
}

.footer {
  display: grid;
  gap: 16px;
  grid-template-columns: 0fr 1fr;
  width: 100%;  
}

@media only screen and (min-width: 768px) {
  .dayCard {
    padding: 32px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }
  .dayCard {
    width: 440px;
    border-radius: 0px;
    padding: 124px 48px 32px 48px;
    height: 100svh;
    justify-content: space-between;
    box-shadow: 0px -4px 12px 0px rgba(0, 0, 0, 0.16);
  }
  .mapContainer {
    position: absolute;
    top: 0;
    left: 440px;
    width: calc(100% - 440px);
    height: 100vh;
  }
}

@media only screen and (min-width: 1280px) {
  .dayCard {
    width: 540px;
    padding: 124px 64px 32px 64px;
  }
}