.section {
  display: flex;
  padding: 102px 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content, .contentHero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.content {
  max-width: 960px;
}


@media only screen and (min-width: 768px) {
  .section {
    padding: 118px 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .section {
    padding: 118px 48px;
  }
}