.section {
  display: flex;
  padding: 96px 16px;
  flex-direction: column;
  align-items: center;
}

.sectionContent {
  width: 100%;
  max-width: 1024px;
}


@media only screen and (min-width: 768px) {
  .section {
    padding: 128px 48px;
  }
}