.container {
  color: #000;
  width: 100%;
  height: calc(100vh - 320px);
  height: calc(100svh - 320px);
}

@media only screen and (min-width: 1024px) {
  .container {
    height: 100vh;
    width: calc(100% - 420px);
    margin-left: auto;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    width: calc(100% - 520px);
  }
}