.background {
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

.modal {
  display: flex;
  animation: slide-up 300ms ease-in-out;
  width: 100%;
  max-height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px 8px 0px 0px;
  background: #FFF;
  box-shadow: 0px -4px 12px 0px rgba(0, 0, 0, 0.24);
  border: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  overflow: hidden;
}

@keyframes slide-up {
  0% {
    left: 0;
    transform: translateY(100%);
  }
  100% {
    left: 0;
    bottom: 0;
  }
}

.form {
  width: 100%;
}

.header {
  position: sticky;
  width: 100%;
  padding: 24px;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 122px;
  overflow-y: scroll;
}

.inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.priorities {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.checkboxes {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: grid;
  background-color: #FFF;
  padding: 16px 24px;
  gap: 16px;
  grid-template-columns: 0fr 1fr;
  width: 100%;  
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 568px;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    bottom: 50%;
    border-radius: 8px;
  }
  @keyframes slide-up {
    0% {
      left: 50%;
      transform: translateX(-50%) translateY(100%);
      opacity: 0;
    }
    100% {
      left: 50%;
      transform: translateX(-50%) translateY(50%);
      opacity: 1;
    }
  }
}

@media only screen and (max-height: 615px) {
  
  .modal {
    border-radius: 0;
  }
  .header {
    border-bottom: 1px solid #E2E4ED;
  }
  
  .footer {
    border-top:1px solid #E2E4ED;
  }
}

@media only screen and (max-height: 615px) and (min-width: 768px) {
  .modal {
    border-radius: 8px;
  }
}