.background {
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.modal {
  padding: 24px;
  display: flex;
  width: 100%;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  border-radius: 8px 8px 0px 0px;
  background: #FFF;
  box-shadow: 0px -4px 12px 0px rgba(0, 0, 0, 0.24);
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
}

.checkboxes {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}